body{
    display: grid;
    grid-template-areas:
    "aside header"
    "aside main";
    grid-template-columns: auto 1fr;
}
.cabecera{
    grid-area: header;
}

.menu-lateral{
    grid-area: aside;
}

.principal{
    grid-area: main;
}




